body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
.container-fluid {
  color: #2A96BD;
  background-color: #D1EFF5;
  text-align: center;
  padding-top: 5rem;
  border: 2px solid #1E6C89;
  width: 40%;
  align: center;
  margin: auto
}

h4 .link {
  color: #566A71;
  text-decoration: none;
}

.link {
  color: #2A96BD;
  text-decoration: none;
}

.link:hover {
  color: #FBC7C3;
  text-decoration: none
}

.button1 {
  border-radius: 10%;
  height: 5rem;
  width: 6rem;
  background-color:#FEEDEB;
  border-color: #1E6C89
}

.button1:disabled {
  border-radius: 10%;
  height: 5rem;
  width: 6rem;
  background-color:#DFDFDF;
  border-color: #F0B3AE;
}

.button2 {
  color: #1E6C89;
  border-radius: 10%;
  border-color: #1E6C89;
  padding: 1rem;
  margin-top: 0.75rem;
  background-color: #DFF2F6;
}

.button3 {
  border-radius: 10%;
  height: 5rem;
  width: 10rem;
  background-color: #DFF2F6;
  color: #1E6C89;
  border: 1px solid #1E6C89;
}

table {
  margin: 5rem;
  width: 70%;
  border: none;
}

tbody {
  padding-bottom: 10rem;
}

th {
  border-bottom: 1px dotted #bbb;
}

td {
  border: none;
}

.audio-controls {
  border-top: 2px solid #1E6C89;
  background-color: #FBC7C3;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.song-title {
  color: #1E6C89;
  font-weight: 550;
  font-size: 2.5rem;
  margin-top: 2rem;
  padding-top: 3rem;
  letter-spacing: 0.25rem;
}

.album-art {
  max-width: 100%;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}